.menuButton{
    background-color: transparent;
}

.buttonPart{
    display: block;
    background-color: #fff;
    width: 20px;
    height: 3px;
    margin: 5px 0;
}

.buttonPart:nth-child(2){
    display: block;
}

.menuItem{
    background-color: #fff;
    color: #000;
}